
body{
    padding:0;
    margin:0;
    text-align: center;
}

#Spawn_area{
    margin:auto;
    
    width: 30em;
    height: 30em;
    display:flex;
    flex-direction: column;
    background-color:red;
}

.spawn_row{
    width: 100%;
    flex:1;
    border-color:black;
    border-width:1px;
    border-style:solid;
    background-color:blue;
    display:flex;
    align-items: center;
    padding: 1em;
}

.spawn_hole{
    background-color: yellow;
    height:100%;
    flex:1;
    border-radius: 50%;
    margin: 1em;
    align-items: center;
    justify-content: center;
    display:flex;
    
}

.mole_obj{
    border-style:none;
    width:5em;
    height:5em;
    background-color:brown;
    transition: opacity 0.3s ease;
    
}

.active{
    opacity:1;
   
}

.dead{
    background-color:red;
    pointer-events:none;
    transition: opacity 0.2s ease-in 0.3s;
}

.deactive{
    opacity:0;
    pointer-events: none;
   
}

#start{
    margin: 2em;
}

#wave_banner{
    position:absolute;
    height: 100px;
    width: 100%;
    top:40%;
    background-color:rgba(233, 50, 50, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
}
